@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Raleway:wght@400;500;700&family=Mozilla+Headline:wght@400;700&display=swap");

html {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #ffffff;
  --text-color: #331D2C;
}

[data-theme="dark"] {
  --bg-color: #331D2C;
  --text-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  color: #ff7700;
}
