@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Raleway:wght@400;500;700&family=Mozilla+Headline:wght@400;700&display=swap");

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --bg-color: #dededee6;
  --text-color: #331d2c;
}

[data-theme="dark"] {
  --bg-color: #454545;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f59e0b;
  font-family: "Mozilla Headline", sans-serif;
}
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-slow-reverse {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}
.animate-spin-slow-reverse {
  animation: spin-slow-reverse 40s linear infinite;
}
