@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Raleway:wght@400;500;700&family=Mozilla+Headline:wght@400;700&display=swap");

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --bg-color: rgba(222, 222, 222, 0.9);
  --text-color: #331d2c;
}

[data-theme="dark"] {
  --bg-color: rgba(69, 69, 69, 1);
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f59e0b;
  font-family: "Mozilla Headline", sans-serif;
}
